<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                    <p class="custom-font-size-name custom-font-weight">Jun Liu (刘君)</p>
                    <p class="custom-font-size custom-font-weight">Principal Investigator</p>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p class="custom-font-size">{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Us</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">News</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-font-size">
                <p><strong>Main research interests:</strong></p>

                <ol>
                    <li>To study the molecular regulatory mechanisms of RNA epigenetic modifications on chromatin structure and gene transcription and the related biological functions in stem cell fate determination, cell reprogramming, anti-tumor immunity and cancer development;</li>
                    <li>To investigate the molecular regulatory mechanisms of ncRNA degradation processes in the nucleus and related biological functions;</li>
                    <li>To investigate the molecular regulatory mechanism of RNA epigenetic modification for biomolecular phase transition and the corresponding biological functions.</li>
                </ol>            

                <hr />

                <p><strong>Educational Experience:</strong></p>

                <p>2010-2015, Ph.D., Chemical Biology, Peking University</p>

                <p>2006-2010, B.S., Chemistry, Peking University</p>
                <hr />

                <p><strong>Work Experience:</strong></p>

                <p>2020.9-Present, Research Fellow, Joint Center for Life Sciences, Peking University, Tsinghua</p>

                <p>2020.9-Present, Research Fellow, School of Life Sciences, Peking University
                2015.11-2020.8, Postdoctoral Fellow, Department of Chemistry, University of Chicago</p>
                <hr />

                <p><strong>Honors and Awards:</strong></p>

                <p>Boya Young Scholar, Peking University, 2022</p>

                <p>Billion Dollar Scholar, 2021</p>

                <p>Beijing Science and Technology Rising Star, 2021</p>
                <hr />
                <!-- First column -->
                <div style="float: left; width: 50%;">
                    We are actively hiring Postdocs, Research assistants, and more!
                    
                </div>

                <!-- Second column -->
                <div style="float: right; width: 50%;">
                    Welcome to the world of RNA!
                    <br />
                    <a href="{{site.url}}{{site.baseurl}}/#contact" title="JOIN US">JOIN US</a>
                </div>

            </div>
            
        </div>
</section>