<section class="hero is-fullheight has-text-centered  has-background-white-ter" id="contact">
    <div class="hero-body">
        <div class="container">
            

            <h2 class="title is-2 has-text-centered">We are actively hiring!</h2>
            <br>
            <p class="content">Please email us at <a href="mailto:junliu1223@pku.edu.cn" title="junliu1223@pku.edu.cn">junliu1223@pku.edu.cn</a> along with your </p>
            <p>1) CV describing your education, research, publication etc;</p> 
            <p>2) a cover letter describing your research background and research interest.</p>
            <br>
            <p>For Chinese version of information: <a href="https://mp.weixin.qq.com/s/FLbDkuXuoVa2sqwr-dRatQ" title="中文版招聘启事">中文版招聘启事</a></p>
            
        </div>
    </div>
</section>
