<section class="hero is-fullheight has-text-centered   has-background-white-bis  " id="research">
  <div class="hero-body">
    <div class="container">

<h3 class="title is-3 has-text-centered">Research Interest</h2>
<ul class="content custom-font-size">
  <li>m6A</li>
  <li>pseudoU</li>
</ul>

<h3 class="title is-3 has-text-centered">Completed work</h2>

<div style="display:flex; flex-direction:row;">
  <div style="flex:1; padding:20px;">
    <img src="/assets/images/research/research1.png" style="width:100%; height:60%;" />
    <p>Dou, X., Huang, L., Xiao, Y., Liu, C., Li, Y., Zhang, X., Yu, L., Zhao, R., Yang, L., Chen, C., Yu, X., Gao, B., Qi, M., Gao, Y., Shen, B., Sun, S., He, C., Liu, J., 2023. METTL14 is a chromatin regulator independent of its RNA N6-methyladenosine methyltransferase activity. Protein & Cell pwad009. https://doi.org/10.1093/procel/pwad009
    </p>
  </div>
  <div style="flex:1; padding:20px;">
    <img src="/assets/images/research/research2.jpeg" style="width:100%; height:60%;" />
    <p>Liu, J., Dou, X., Chen, Chuanyuan, Chen, Chuan, Liu, C., Xu, M.M., Zhao, S., Shen, B., Gao, Y., Han, D., He, C., 2020. N6-methyladenosine of chromosome-associated regulatory RNA regulates chromatin state and transcription. Science 367, 580–586. https://doi.org/10.1126/science.aay6018
    </p>
  </div>
</div>

</div>
</div>
</section>