<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <div>
        <img style="width:80%" src="/assets/images/logo/logo_raw_heng_alpha0.png">
      </div>
      
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Read More</a>
      </a>
    </div>
  </div>
</section>